- var cyd = { name: 'Cyd Harrell', img: 'https://aycl.uie.com/images/made/images/uploads/head_shots/cyd_harrell2_190_190_s_c1.jpg', talkTitle: 'Title', talkLink: '', workshopTitle: 'Workshop Title', workshopLink: '', IEclose: true }

- var dan = { name: 'Dan Brown', img: 'https://aycl.uie.com/images/made/images/uploads/head_shots/Dan_Brown_190_190_s_c1.jpg', talkTitle: 'Title', talkLink: '', workshopTitle: 'Workshop Title', workshopLink: '', IEclose: true }

- var abbey = { name: 'Abby Covert', img: 'https://pbs.twimg.com/profile_images/529308861438517249/AetlMaOJ_400x400.jpeg', talkTitle: 'Title', talkLink: '', workshopTitle: 'Workshop Title', workshopLink: '', IEclose: true }

- var melissa = { name: 'Melissa Perri', img: 'http://0.gravatar.com/avatar/6c2ecce7e09b6b59dd45fe085030b9e1?s=256&d=mm&r=g', talkTitle: 'Title', talkLink: '', workshopTitle: 'Workshop Title', workshopLink: '', IEclose: true }

- var kim = { name: 'Kim Goodwin', img: 'https://aycl.uie.com/images/made/images/uploads/head_shots/Kim_Goodwin_2015_190_190_s_c1.png', talkTitle: 'Title', talkLink: '', workshopTitle: 'Workshop Title', workshopLink: '', IEclose: true }

- var nathan = { name: 'Nathan Curtis', img: 'https://aycl.uie.com/images/made/images/uploads/head_shots/Nathan_headshot_190_190_s_c1.jpg', talkTitle: 'Title', talkLink: '', workshopTitle: 'Workshop Title', workshopLink: '', IEclose: true }

- var peter = { name: 'Peter Merholz', img: 'https://articles.uie.com/wp-content/authors/peter_merholz-71.jpg', talkTitle: 'Title', talkLink: '', workshopTitle: 'Workshop Title', workshopLink: '', IEclose: true }

- var jeff = { name: 'Jeff Patton', img: 'https://aycl.uie.com/images/made/images/uploads/head_shots/Patton_190_190_s_c1.png', talkTitle: 'Title', talkLink: '', workshopTitle: 'Workshop Title', workshopLink: '', IEclose: false }

- var jared = { name: 'Jared Spool', img: 'https://aycl.uie.com/images/made/images/uploads/head_shots/Jared_2016_190_190_s_c1.png', talkTitle: 'Title', talkLink: '', workshopTitle: 'Workshop Title', workshopLink: '' }

- var speakers = [cyd, dan, abbey, melissa, kim, nathan, peter, jeff]
