@import 'mixins/mixins';

.article {
  background-color: #222222;
  padding-top: 20px;
  padding-bottom: 20px;

  .multi-column .column-25 img {
    @include columnImage(110px);
  }

  p {
    line-height: 1.5;
  }

  .webkit {
    background-color: #F4F4F4;
  }
  .inner {
    padding-bottom: 0;
  }
  .author {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .origin {
    padding-bottom: 5px;
  }
  .one-column{
    padding: 20px;
  }
  .one-column.article-content{
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .ad{
    padding-top: 10px;
  }
  .h2.about {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .about-img {
    padding-left: 20px;
  }
  .about-bio .text {
    padding-top: 0px;
  }
  .about-bio .body {
    color: #505050;
    line-height: 1.75;
    font-size: 13px;
  }
  .share-thoughts .question {
    color: #505050;
    line-height: 1.75;
    font-size: 13px;
  }
  .share-article {
    padding-bottom: 5px;
    margin-bottom: 0;
  }
  .multi-column {
    padding-top: 0;
  }
  .one-column.about-the-author-header {
    padding-top: 30px;
    padding-bottom:5px;
  }
  .multi-column.about-the-author-content {
    padding-bottom: 30px;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .multi-column.about-the-author-content img{
    padding-left:20px;
    padding-right:20px;
  }
  .one-column.share-thoughts {
    padding-bottom: 30px;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .social {
    list-style-type: none;
    padding-left:0;
  }
  .social li {
    display:inline-block;
  }
  .social img {
    width:25px;
    padding-right: 10px;
  }
}
