@import 'mixins/mixins';

.aycl {
  .inner {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .block {
    background-color:#ffffff;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:40px;
    padding-right:40px;
  }
  /*Image layout*/
  .image {
    text-align:center;
  }
  .image img {
    max-width: 400px;
    padding-bottom: 10px;
  }

  /* One column layout */
  .one-column {
    background-color: #f3f3f3;
  }
  /*Nested layout*/
  .inner-nested {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
  }
  /*Three column layout*/
  .three-column {
    text-align: left;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /*Two column layout*/
  .two-column {
    @include columnLayout;
  }
  .two-column .contents {
    @include contents;
  }
  .two-column .column-50 {
    @include column(260px);
  }
  .two-column img {
    @include columnImage(180px);
  }
  .two-column .text {
    padding-top: 10px;
  }

}
