tr
  td.one-column
    table(width="100%")
      tr
        td.inner.contents.footer 
          p Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved. <br>
          p
            | User Interface Engineering<br>
            | 510 Turnpike Street<br>
            | Suite 102<br>
            | North Andover, MA 01845
          p
            a(href="*|UPDATE_PROFILE|*") manage your preferences
            | &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            a(href="*|UNSUB|*") unsubscribe from this list
