p.
  Let me tell you the story of far too many startups. A few people have a brilliant idea. They go off and spend six months to a year building it. Then they launch it into the world and wait for the users and money to come pouring in.
p.
  When that fails to happen roughly 100% of the time, they break down and start spending on PR. Maybe they get a mention on Techcrunch. They get featured in a few blogs. The traffic starts trickling in. The problem now, is that while they’ve got some visitors, none of those visitors are sticking around or turning into customers. Nobody is converting.
p.h2.
  What Is Conversion?
p.
  The first problem with conversion is that the term is a little bit vague. Theoretically, it means turning a visitor into a customer. E-commerce companies use it to mean when somebody buys something. Growth Hackers use it to mean getting an email address on a landing page. Mobile developers can use it to mean getting somebody to download an app or create an account.
p.
  All of these definitions have a couple of things in common:
ol
  li.
    They all represent an exchange of value of some sort.
  li.
    They’re all much harder to do than you’d think.
p.
  Whether you’re offering somebody an invitation to your product’s beta launch in exchange for personal data or a cup of coffee in exchange for a five dollar bill, your attempts to convert a visitor into a customer will only be successful if the visitor agrees to the exchange of value. So, why aren’t they doing it? Why aren't your visitors converting?
p.h2.
  Why Don’t Visitors Convert into Customers?

p.
  Visitors fail to convert for one of three reasons:
ul
  li.
    They don’t understand what you’re offering them.
  li.
    They don’t want what you’re offering them.
  li.
    They’re not willing to pay what you’re asking for what you’re offering them.
p.
  These are otherwise known as:
ul
  li.
    They Don’t Get It
  li.
    They Don’t Want It
  li.
    They Don’t Need It Enough
p.
  Luckily, those are all fixable problems

p.h3.
  They Don’t Get It

p.
  Pop quiz: what do the following phrases have in common?

p
  em.
    “What can brown do for you?”

p
  em.
    “Sometimes you feel like a nut.”

p
  em.
    “Snap. Crackle. Pop.”

p
  em.
    “Just Do It”

p.
  That’s right! These phrases all complete gibberish. Of course, the other thing they have in common is that you can name the companies they’re associated with. Looking at some of the most popular company taglines, you might be led to believe that the best marketing strategy is to select an almost entirely random collection of words.
p.
  Unfortunately, this strategy is unlikely to work for your startup. You see, all of these companies with nonsense taglines also happen to have multi-million dollar marketing budgets that they use to associate those nonsense taglines with snack foods or package delivery or athletic equipment. You are unlikely to have that particular luxury, which means you have to pick messaging that actually means something to the people checking out your product.

p.
  Here’s what I see every day. People write these clever taglines for their products. They make these coy landing pages. They create these super clean looking designs. And they confuse the hell out of the people who are just trying to figure out what the product does.

p.
  Look, nobody is going to use your product if they don’t get it. And if you think they are going to spend a lot of time digging around trying to figure out all the wonderful benefits your product delivers, you are mistaken. People come to your product, look at it for about 5 seconds, fail to understand what you’re selling or why they should buy it, and then they leave, never to be seen again.

p.h4.
  How Do You Fix It?

p.
  This one is easy to spot and fix with a couple of quick tests. First, you need to figure out if this is the reason people are leaving. To do this, find four or five people who you think are in your target market but who don’t know anything about the product. Take your landing page or product page or whatever is serving as your first point of contact to those folks and show it to them for 5 seconds. Then take it away and ask, “What does that product do?” and “Who is that product for?”

p.
  If they can’t answer the first question or if they answer the second question wrong, you’re going to need to iterate on your messaging and imagery and then try again. Keep doing this until people in your target market can accurately identify what your value proposition is.

p.h3.
  They Don’t Want It

p.
  Just because people know what your product does, doesn’t mean they'll want to use it. A huge number of products are solutions in search of a problem. Or sometimes they’re just the application of the current hot design element onto an existing product. You know, “It’s Tinder for buying pet food!”

p.
  Products need to solve a problem. Even games solve a problem. Answering the question, “How do I entertain myself with the least possible effort?” is a serious problem that a lot of us face, and we purchase all sorts of products to solve it for us.

p.
  But it’s not just enough that the problem gets solved. It needs to get solved in the right way. If I offered to help you lose 20 pounds overnight, a lot of people would agree that they’d like a solution to that problem. If I said I could do it by cutting off your leg, you probably wouldn’t convert. Great problem identification. Terrible solution.

p.
  For users to convert, you have to be sure that you’re acquiring users who both have the problem that your product solves and that they like your particular solution enough to switch from what they’ve got now. When this is the reason your visitors aren’t converting, it’s a lot harder to fix than a messaging problem.

p.h4.
  How Do You Fix It?

p.
  Frankly, when this happens, it’s almost always because founders didn’t spend enough time talking to potential customers before they started building. If that’s the case, you’ll need to start doing that as soon as possible. Spend some time with the people in your target market and understand what problems you can solve for them.

p.
  Before you throw out everything and start over though, make sure that the problem isn’t just that you’re acquiring the wrong users. You might be solving a problem for somebody, but those people might not read the tech blogs where you got your press. Maybe you don’t solve a problem for VCs and startup founders. We can’t all build Product Hunt. Maybe you solve a problem for suburban teens with braces and smart phones. If so, you'll want to start acquiring those people, which means changing your acquisition strategy.

p.
  In order to fix an acquisition problem, you’re going to need to see where your acquisitions are coming from, and then figure out if that sort of traffic is likely to convert. You can also try a site intercept product like Ethnio which will allow you to capture users coming to your product or downloading your app in order to ask them if they’ll talk with you. Even talking to a few people who are about to bounce can give you tremendous insight into what they expected to see and how you’re disappointing them.

p.h3.
  They Don’t Need It Enough

p.
  The last reason that visitors aren’t converting is because they don’t think your product is worth what you’re asking them for it. And hold off on that enormous sigh of relief because your product is free. Cost doesn’t just mean money.

p.
  Imagine this. I come to you and say that I’ve got a fabulous new email client. It’s fast; it does exactly what you want; it will keep you at inbox zero all the time. It’s magical. There is, of course, one tiny downside—mdash;you need to change your email address. Are you going to do it? Absolutely not. Changing your email address is a giant hassle. It takes a ton of time, and your time has value.

p.
  Well, your user’s time has value too. So does their effort and their pain. Every single thing you do to make your product hard to use or complicated to switch to or painful to use increases the cost to your user. And pretty soon, no matter how big the problem you’re solving, it’s simply not worth the cost.

p.h4.
  How Do You Fix It?

p.
  Well, you can figure out if you’re simply making your product too complicated with some usability testing. When is the last time you just sat down and watched a brand new user go from complete noob to fully onboarded and successful? What’s that? Never? Try it. You’ll probably start to understand just how much you’re demanding of the people you’re supposed to be helping.

p.
  If the problem is price, then you’ll need to do some pricing optimization testing. Depending on the kind of product you have, you’ll need different strategies here, but one that often works is trying to sell your product in person to various people in your target market for different prices. It takes a lot of time, but finding the optimal pricing strategy can mean the difference between success and failure.

p.h2.
  Why Should You Care?

p.
  There’s an excellent reason for figuring out exactly why your visitors aren’t converting. When you have a metric—mdash;any metric, really—mdash;that isn’t where you want it to be, you’re going to be tempted to jump in and start experimenting to try to fix it. But if you spend a little time upfront understanding exactly what is causing the problem, it will be significantly easier for you to find the right fix fast.

p.
  You see, if the problem is that visitors don’t get it, changing your price won’t do a damn thing. If the problem is that your product doesn’t solve a real problem for people, you can make the messaging as clear as you want, and it won’t make a bit of difference. If it's too hard to use, you can make it free, but people still won't bother to convert. Figuring out which of these three things is causing the root problem can dramatically reduce the scope of your experiments, which means you’ll find the solution more quickly.

p.
  Remember, the quicker you solve your conversion problem, the sooner you get to tackle your engagement problem. And your re-engagement problem. And your retention problem. Solving any serious problem for a group of people isn’t easy. But it’s a lot easier when you know which problems you’re supposed to be solving.
hr
p.ad.
  Getting your users to convert means you’re thinking about their first experiences with your design. That means designing for onboarding and habit-building. To get it right, you’ll want to join us for our next UX Virtual Symposium—Designing for Behavior Change, June 2—where Laura Klein gives you as framework for measuring the success of your onboarding process. She’ll also provide specific tactics for your team to problem-solve weaknesses in your own onboarding and optimize your for success.
