extends layout

block title
  title UIE Article of the Week
  - var customClass='article'

block content
  include mixins/article/about-the-author.pug
  include mixins/article/share-thoughts.pug

  //- !!do not change!!
  - var headerSource = "http://asset.uie.com/uietips/uie-header.png"
  - var headerAlt = "UIE Article of the Week"
  //- !!do not change!!

  - var nestedSubjectLine = "Converting visitors into customers"

  - var articleURL = "https://articles.uie.com/the-three-reasons-why-your-visitors-dont-convert/"
  - var articleTitle = "The Three Reasons Why Your Visitors Don't Convert"
  //- if there is no original source,
  //- simply leave blank or comment out
  //- the following line
  - var articleOrigin = 'Originally published on <a href="">Startup Grind</a>, the global entrepreneurship community.'

  - var author = "Laura Klein"
  - var authorImg = "https://aycl.uie.com/images/made/images/uploads/head_shots/Klein_132_132_s_c1.png"
  - var authorBio = "Laura Klein is a User Experience Designer, Product Manager, and Lean Startup expert in Silicon Valley, where she advises startups and helps companies build products people will love. Her blog, Users Know, and her book, UX for Lean Startups, are aimed at helping entrepreneurs learn enough research and design to let them validate their ideas."

  - var blogQuestion = 'How do you identify conversion road blocks?'
  - var blogURL = 'https://www.uie.com/brainsparks/2016/05/11/the-three-reasons-why-your-visitors-dont-convert/'

  // nested
  +nested(nestedSubjectLine)

  // header
  +header(headerSource, headerAlt)

  tr
    td.one-column.article-content
      table(width="100%")
        tr
          td.inner.contents
            p.h1 #{articleTitle}
            p.author by #{author}
            if articleOrigin
              p.origin
                em !{articleOrigin}
            p.read-on-site
              em Read&nbsp;
                a(href=articleURL) the article on the UIE web&nbsp;site
                | .

            include includes/article-content/05_11_16.pug

  +aboutTheAuthor(authorImg, author, authorBio)

  +shareThoughts(blogQuestion, blogURL, articleURL)
