extends layout

block title
  title Master Template
  - var customClass='aycl'


block content
  - var pageTitle = "Just Added to the AYCL Library"
  - var headerSource = "http://asset.uie.com/img/AYCL/vs-banner.png"
  - var headerAlt = "All You Can Learn"

  - var nestedSubjectLine = "Ahava Leibtag, in the All You Can Learn Library"

  // nested
  +nested(nestedSubjectLine)

  // header
  +header(headerSource, headerAlt)

  // body
  tr
    td.one-column
      table(width="100%")
        tr
          td.inner.contents
            div.block
              p.h1 New in the All You Can Learn&nbsp;Library:
              p.h2
                a(href=link) Navigating Challenging Content Strategy&nbsp;Conversations
              p Ahava Leibtag shares an approach for creating the right environment to give critical feedback without putting people on the&nbsp;defensive.

              p.spacer <br><hr><br>

              p.image
                a(href=link)
                  img(src="http://asset.uie.com/emails/img/ahava-slide.png" width="400" alt="Ahava First Slide")

              p In this seminar, Ahava will explain how&nbsp;to:

              ul
                li Create a model for delivering feedback that builds team and client&nbsp;relationships
                li Help clients articulate critical&nbsp;feedback
                li Learn what feedback is valuable to your practice, and what&nbsp;isn&rsquo;t

              p.button-wrapper
                a.button(href=link) Watch This

              p.spacer <br><hr><br>

              p
                a(href="https://aycl.uie.com/virtual_seminars/subscribe/nav") Subscribe
                | &nbsp;to the All You Can Learn Library for $23/month or get access to just this recording for only&nbsp;$16.
