mixin shareThoughts(blogQ, blogURL, articleURL)
  tr
    td.one-column.share-thoughts
      table(width="100%")
        tr
          td.inner.contents
            p.h2 Share Your Thoughts with Us
            p.body.question
              | #{blogQ} Tell us about it at the&nbsp;
              a(href=blogURL) UIE blog.
            p.body.share-article.
              Share This Article:
            ul.social
              li
                a(href=articleURL)
                  img(src="http://www.uie.com/email/img/icon-email.jpg", width="25" height="25" alt="email")
              li
                a(href="http://www.facebook.com/sharer/sharer.php?u=" + articleURL)
                  img(src="http://asset.uie.com/uietips/social_media_logos/facebook.png", width="25" height="25" alt="facebook")
              li
                a(href="http://twitter.com/?status=" + articleURL)
                  img(src="http://www.uie.com/email/img/icon-twitter-new.png", width="25" height="25" alt="twitter")
              li
                a(href="http://www.linkedin.com/shareArticle?mini=true&url=" + articleURL)
                  img(src="http://asset.uie.com/uietips/social_media_logos/linkedin.png", width="25" height="25" alt="linkedin")
              li
                a(href="https://plusone.google.com/_/+1/confirm?hl=en&url=" + articleURL)
                  img(src="http://www.uie.com/email/img/google-plus-logo.png", width="25" height="25" alt="google plus")
